build/
install/
log/
rosbag2/
rosbag2_*/
CMakeFiles/
drive_log/
pf_run/
frames.*
base_link:
laser:
current_env.txt
current_pip_packages.txt
ros_packages.txt
driving_log.txt
=1.22.0
=1.7.3
*.whl
max_range.20_rosbag2_*/
Raceline-Optimization/
range_libc_backup_20251021_232817/
trash/
videos/
*.db3
*.pyc
__pycache__/
*.egg-info/
